.main_header_area {
    position: absolute;
    width: 100%;
    transition: background-color 0.3s ease, position 0.3s ease;
}

.main_header_area.scrolled {
    position: fixed;
    top: 0;
    background-color: #1C1D66;
    z-index: 1000;
}

.top_header_area {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 100;
}